/** Background Color **/
.bg-color,

.theme-btn,
.service:hover > i,
.service.active > i,
.our-work-info > ul li:first-child > a,
.my-skills > .progress > .progress-bar,
.slick-slide.slick-active.slick-center > .history-btn > h5:before,
.subscribe-us > form > input[type="submit"],
.main-footer > span,
.pagination li.active a, .pagination li a:hover,
.social-buttons > li > a:hover,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.fancy-menu > ul > li > a::after,
.my-work-sec > .project-list > button:hover,
.view-location:hover,
.hide-location
{
    background-color: #EC1823;
}


/** Background Color **/
.text-color,
header nav > ul > li > a > i,
.service > i,
.about-text-block > h3 span,
.heading2 > span,
.my-education-sec li span,
.history-info > span,
.slick-slide.slick-active.slick-center > .history-btn > span,
.slick-slide.slick-active.slick-center > .history-btn > h5,
.testimonial-title > span,
.blog-info > a,
.blog-info > p  a,
.resume-header > .logo a > span,
.info-title > span,
.contact-info-list > ul > li i,
.view-location > i,
.bottom-line a,
.breadcrumbs > li:last-child a,
blockquote span a,
.post-tags > span i,
.my-name-who > h5,
.our-work-info > h3:hover > a,
.blog-info > h2:hover   
{
    color: #EC1823;
}

/** Background Color **/
.sd
{
    border-color: #ff3740;
}